@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;

  .ob-table {
    width: 40rem;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;

    &__column {
      position: relative;
      width: 48%;

      &--left .ob-table__record {
        flex-direction: row-reverse;
      }

      &--left .ob-table__bar {
        right: -1rem;
        background-color: green;
      }

      &--right .ob-table__record {
        flex-direction: row;
      }

      &--right .ob-table__bar {
        left: -0.3rem;
        background-color: red;
      }
    }

    &__record {
      display: flex;
      justify-content: space-between;
      opacity: 0.99;

      span {
        width: 3rem;
        display: block;
        text-align: right;
      }
    }

    &__row {
      position: relative;
    }

    &__bar {
      height: 1.6rem;
      position: absolute;
      top: -0.2rem;
      background-color: yellow;
    }
  }

  .fps-indicator {
    background: red;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    animation: pulsing 2s infinite;
  }

  .actions {
    margin-top: 2rem;
    button {
      display: block;
      margin: 1rem 0;
    }
  }
}

@keyframes pulsing {
  0% {
    transform: scale(0.5, 0.5)
  }
  50% {
    transform: scale(1.0, 1.0);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}